{# templates/admin/users/profile_sections/_avatar.html.twig #}
<div id="content-avatar" class="tab-content">
    <h2 class="text-2xl font-semibold text-gray-900 mb-6">Photo de profil</h2>
    <div class="bg-blue-50 border-l-4 border-blue-400 p-4">
        <div class="flex">
            <div class="flex-shrink-0">
                <i class="fas fa-info-circle text-blue-400"></i>
            </div>
            <div class="ml-3">
                <p class="text-sm text-blue-700">
                    Cette section sera disponible prochainement. Vous pourrez télécharger et modifier votre photo de profil.
                </p>
            </div>
        </div>
    </div>
</div>
